body {
    margin: 0;
}

.header ,.footer{
    background-color: #1F2937;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
}

.header-content-top {
    display: flex;
    justify-content: space-between;
}

.header-content-top ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
}

.header-content-top p {
    color: #f9faf8;
    font-size: 24px;
    margin: 0
}

.header-content-bottom {
    display: flex;
    padding: 60px 0;
    gap: 200px;
}

.header-content-left {
    flex: 1 1 0;
    color: #e5e7eb;
    font-size: 18px;
}

.header-content-left button{
    margin-top: 10px ;
    font-weight: 900;
}

.header-content-right {
    flex: 1 1 0;
    display: flex;
}

.header-content-right img {
    max-width: 100%;
    height: auto;
}


.header-content-left h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    
}

button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    color: #f9faf8;
}

.info {
    padding: 32px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding-bottom: 32px;
}

.logos-container {
    display: flex;
    gap: 32px;

}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album img {
    border: 4px solid #1F2937;
    border-radius: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    padding: 32px 300px;
    font-style: italic;
}

.quote-name {
    font-style:normal;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.call-to-action {
    margin: 100px 200px;
    background-color:#3882f6;
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
    border-radius: 20px;
}

.container-cta-text{
    padding: 32px;
}
.container-cta-text h3, p {
    margin: 5px;
}
.container-cta-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
}

